<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/static/images/favicon-32x32.png">
        <title>WebRTC Testing</title>

        <style>
            #videoContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            video {
                width: 80%;
                height: auto;
                border: 2px solid #000;
            }

            #plateDisplay {
                margin-top: 10px;
                font-size: 1.5em;
                font-weight: bold;
            }
        </style>
    <head>
    
    <body>
        <div id="videoContainer">
            <video id="liveFeed" autoplay playsinline></video>

            <div id="plateDisplay">Detected Plate: <span id="plateNumber"></span></div>
        </div>

        <script>
            // start the camera feed
            async function startCamera() {
                const video = document.getElementById('liveFeed');
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                video.srcObject = stream;

                // start the automatic plate detection process
                setInterval(captureFrame, 5000);
            }

            // capture a frame from the video feed
            function captureFrame() {
                const video = document.getElementById('liveFeed');
                const canvas = document.createElement('canvas')
                canvas.width = video.videoWidth;
                canvas.height = video.videoHeight;
                const context = canvas.getContext('2d');
                context.drawImage(video, 0, 0, canvas.width, canvas.height);

                // convert canvas to image data and send to the server
                const frameData = canvas.toDataURL('image/jpeg')
                sendFrameToServer(frameData);
            }

            // send the captured frame to the backend for ALPR processing
            function sendFrameToServer(frameData) {
                fetch('/webrtc/process-frame', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ frame: frameData }),
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('plateNumber').textContent = data.plate || "No plate detected";
                });
            }

            // start the camera on page load
            window.onload = startCamera;
        </script>
    </body>
</html>
